<div  class="border-bottom row " style="margin-bottom:17px; padding-bottom:4px;">
                <div class="col-10">

         
        <h4 style="color:rgb(120,120,120); margin-bottom:4px">            
            <b>School Name :</b>{{course['name school']}}
        </h4>

                    
        <div >
                <b> Location: {{course['Location']}}</b>  
        </div>

                    
        <div>
                <b>studied year : </b> {{course['Year']}}
        </div>
        </div>
    
 <div class="col-2">
   
   </div>
               
                
           </div>
       